.todos {
  margin-top: 50px;
  overflow-y: auto;
  &-item {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-left: 2px solid purple;
    position: relative;
    &.completed {
      &::after {
        position: absolute;
        content: '';
        left: 25px;
        width: 800px;
        top: 50%;
        height: 2px;
        background: purple;
      }
    }
    &.important {
      font-weight: 500;
      color: orange;
    }
  }
  &-buttons {
      margin-left: auto;
      display: flex ;
      i {
          margin: 0 5px;
          z-index: 1;
          &:hover {
              transform: scale(1.5);
              transition: transform .3s ease;
          }
      }
  }
}